#!/bin/sh

## SGE Parameters
%SGE_PART%

set -e
set -u
set -o pipefail

QUERY=%FASTAF%

INTERPROSCAN=%INTERPROSCAN_DIR%/interproscan.sh

$INTERPROSCAN  \
  -i $QUERY \
  -f XML,TSV \
  --disable-precalc \
  --goterms \
  --pathways \

touch `basename $QUERY`.iprscan.finished
